- var title = process.env.VUE_APP_TITLE

//- 共用 assets
- var globalAssetsUrl = process.env.VUE_GLOBAL_ASSETS_URL

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{title}

  body
    noscript
      strong
        | We're sorry but app doesn't work properly without JavaScript enabled. Please enable it to continue.

    //- vue entry
    div#app

    script(type="text/javascript" src=globalAssetsUrl + "jQuery/jquery-3.3.1.min.js")
    //- built files will be auto injected here
